.news_activ__texts span{
  color: #E47500;
}
#news{
  padding-top: 94px;
}
.news__title{
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 180.5%;
  text-align: center;
  color: #222222;
  margin-top: 15px;
}
.news__text{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 187.5%;
  text-align: center;
  color: #898989;
  margin-top: 13px;
  margin-bottom: 73px;
}
.news__searchs{
  width: 400px;
  background: #F1F1F1;
  border-radius: 10px;
  padding: 8px 10px;
}
.news__input{
  height: 30px;
  width: 90%;
  border: none;
  background: #F1F1F1;
  padding: 10px 8px;
  outline-color:#b3b3b3;
  color: #898989;
}
.bx-search{
  font-size: 23px;
  color: #898989;
  vertical-align: middle;
  margin-left: 13px;
}
.big-content__img{
  width: 587px;
  height: 295px;
  margin-bottom: 21px;
}
.big-content__btn{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 187.5%;
  color: #FFFCFC;
  background: #2351F5;
  padding: 9px 32px;
  display: inline-block;
}
.news__form{
  margin-bottom: 103px;
}
.big-content__time{
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 187.5%;
  color: #424242;  
  margin-left: 19px;
}
.big-content__title{
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #000000;
  width: 560px;
  margin-top: 21px;
}
.big-content__text{
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 207.8%;
  color: #515151;
  margin-top: 32px;
  width: 529px;
}
.smal-content__title{
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 34px;
  color: #000000;
  width: 392px;
  margin-top: 23px;
  
}
.smal-content__imgs{
  margin-right: 31px;
}
.smal-content__item{
  margin-bottom: 60px;
}
.smal-content__colors-black{
  background:  #000;
}
.smal-content__colors{
  background: #FF7C32;
}
